.sign-up {
  width: 425px;
  display: grid;
  grid-template-columns: 100%;
  margin: 30px auto;

  .right {
    height: 618px;
    display: flex;
    flex-direction: column;
    
    .container {
      border: 1px solid rgba(219,219,219, 1);
      background-color: white;
      padding: 20px 60px;
      &.email-password {
        padding: 20px 60px 50px;
      }
      &.no-account {
        margin-top: 10px;
        text-align: center;
      }
      .logo {
        width: 200px;
        display: flex;
        flex-direction: row;
        align-self: center;
      }

      .or-container {
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        margin: 10px;
      }
    }
  }
}