.suggestions-for-you {
  .photo-tile {
    display: grid;
    grid-template-columns: auto auto;
    .link {
      align-self: center;
      font-size: 12px;
    }
  }

  .suggestions {
    margin-top: 20px;
    h1 {
      font-size: 14px;
      color: grey;
    }
    .photo-tile {
      margin-top: 10px;
    }
  }
}